/CodeTests/obj
/CodeTests/bin
/netCore/DotNetCorePrjs/ConsoleApp/obj
/netCore/DotNetCorePrjs/ConsoleApp/bin
/netCore/DotNetCorePrjs/TestLibrary/obj
/netCore/DotNetCorePrjs/TestLibrary/bin
/netCore/DotNetCorePrjs/.vs
